<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add a new Product</title>
</head>
<body>

<form action="#" th:action="@{/addproduct}" th:object="${product}" method="post">
  <p><label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></p>
  <p><label for="type">Type</label>
  <!--<select th:field="${product}">
    <option th:each="product : ${products}"
            th:value="${product.type}"
            th:text="${product.type}"
            id="type"></option>
  </select>-->
  <input type="text" th:field="*{type}" id="type" placeholder="Type">
  <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span></p>
  <p><label for="price">Price</label>
  <input type="text" th:field="*{price}" id="price" placeholder="Price">
  <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span></p>
  <input type="submit" value="Add Product">
</form>

</body>
</html>
