<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles/OurCSS.css}">
</head>
<body>

<div th:switch="${bookings}">
    <h2 th:case="null">No bookings!</h2>
    <div th:case="*">
        <h2>Bookings</h2>
        <table>
            <thead>
            <tr>
                <th>User</th>
                <th>Product name</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="b : ${bookings}"><tr th:if="${dateSearch == null || #dates.format(dateSearch, 'yyyy-MM-dd') == #dates.format(new java.util.Date(b.starttime), 'yyyy-MM-dd')}">
                <td th:text="${b.user.username}"></td>
                <td th:text="${b.product.name}"></td>
                <td th:text="${#dates.format(new java.util.Date(b.starttime), 'dd/MM/yyyy')}"></td>
                <td>
                    <form action="#" th:action="@{/booked}" method="post" class="inline">
                        <input type="hidden" th:value="${b.product.name}" name="productName">
                        <input type="hidden" th:value="${b.starttime}" name="starttime">
                        <button type="submit">
                            Delete
                        </button>
                    </form>
                </td>
            </tr></th:block>
            </tbody>
        </table>
        <p><form action="#" th:action="@{/booked/search}" method="post">
            <input type="date" id="date" name="startdate" th:value="${startday}" required>
            <input type="submit" value="Search">
        </form>
        <a href="/booked" >
            <button>Reset</button>
        </a></p>
        <th:block th:switch="${activeUser.isAdmin}">
            <p th:case="true"><a href="/products">Back to main</a></p>
            <p th:case="false"><a href="/main">Back to main</a></p>
        </th:block>
    </div>
</div>

</body>
</html>
