<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles/OurCSS.css}">
</head>
<body>

<div th:switch="${product}">
    <h2 th:case="null">No product!</h2>
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${product}">
                <span th:if="${p.deleted == false}">
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.type}"></td>
                    <td th:text="${p.price}"></td>
                </span>
            </tr>
            </tbody>
        </table>
        <form action="#" th:action="@{/book/{pname}(pname=${product.name})}" method="post">
            <label for="date">Day</label>
            <input type="date" id="date" name="startdate" th:value="${startday}" min="2023-11-13"
                   max="2023-11-26" required>
            <label for="time">Hour:</label>
            <select id="time" name="starthour" th:value="${starthour}">
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
            </select>
            <input type="submit" value="Submit Booking">
        </form>
    </div>
</div>

</body>
</html>
