<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<div th:switch="${products}">
    <h2 th:case="null">No products yet!</h2>
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Book</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <span th:if="${product.deleted == false}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.type}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a th:href="@{/book/{name}(name=${product.name})}">Book</a></td>
                </span>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/booked">Booked</a></p>
    <p><a href="/addproduct">Add a new product</a></p>
</div>

</body>
</html>