<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<div th:switch="${products}">
    <h2 th:case="null">No Products available</h2>
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>ProdName</th>
                <th>Type</th>
                <th>Price</th>
                <th>isDeleted</th>
                <th>Booking</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.DELETED}"></td>
                <td><a th:href="@{/booking/{name}(name=${product.name})}">Booking</a></td>
                <td><a th:href="@{/remove/{name}(name=${product.name})}">Remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/booked">Booked</a></p>
    <p><a href="/addproduct">Add a product</a></p>
</div>

</body>
</html>