<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/styles/OurCSS.css}">
</head>
<body>
<div>
<h2>Signup for an account</h2>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
  <p><label for="username">Username</label> <input type="text" name="username" id="username" th:field="*{username}" required></p>
  <p><label for="password">Password</label> <input type="password" name="password" id="password" th:field="*{password}" required></p>
  <input type="submit" value="Sign up">
</form>
<p><a href="/">Back to log in</a></p>
</div>
</body>
</html>
