<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
    <link rel="stylesheet" th:href="@{/styles/OurCSS.css}">
</head>
<body>

<div th:switch="${users}">
    <h2 th:case="null">No user!</h2>
    <div th:case="*">
        <h2>User</h2>
        <table>
            <thead>
            <tr>
                <th>User</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
